html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

body {
  margin: 60px auto;
  width: 70%;
}

p {
  font-size: 1rem;
  line-height: 1.4em;
  color: #333;
}

a {
  text-decoration: none;
  color: #999;
}

blockquote {
  margin: 0 0.5em;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.1em solid #dfe2e5;
}

blockquote p {
  color: #6a737d;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

@media screen and (min-width: 800px) {
  /* Desktop styles go here */
}
