html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 60px auto;
  width: 70%;
}

h1 {
  font-size: 3em;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.4em;
  color: #333;
}

a {
  text-decoration: none;
  color: #999;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

@media screen and (min-width: 800px) {
  /* Desktop styles go here */
  h1 {
    font-size: 2rem;
  }
}
