html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 60px auto;
  width: 70%;
}

h1,
h2,
h3,
h4 {
  font-size: 1.5rem;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

p {
  font-size: 1rem;
  line-height: 1.4em;
  color: #333;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

a {
  text-decoration: none;
  color: #999;
}

blockquote {
  padding: 0 0.25em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

@media screen and (min-width: 800px) {
  /* Desktop styles go here */
  h1 {
    font-size: 2rem;
  }
}
