<title>{{ page.title }} - {{ site.title }}</title>

<meta charset="utf-8">
<meta name="description" content="{{ site.description }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="Andrew Chacko">
<meta name="description" content="Dash Of Compute - on product management, software and technology.">

<!-- og:Open Graph  -->
<meta property="og:title" content="{{ page.title }} - {{ site.title }}">
<meta property="og:url" content="{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@theandrewchacko">

<!-- google analytics -->
<!-- stop analytics
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-analytics }}"></script>
<script>
    if (!(navigator.doNotTrack == "1" || window.doNotTrack == "1")) {

        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.google-analytics }}');
    }
</script>
-->

<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

 <!-- css -->
<link rel="stylesheet" href="/css/normalize.min.css" />
<link rel="stylesheet" href="/css/site.css">
