<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav>
       <a href="/">Dash of Compute</a>
    </nav>
    <div class="container">

        {{ content }}

    </div><!-- /.container -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163320523-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-163320523-1');
    </script>
    
    <footer>
        <a href="https://github.com/sautee">github.com/sautee</a></li>
    </footer>
</body>

</html>
